{% extends 'AcmeUsersBundle::index.html.twig' %}

{% block title %}List{% endblock %}
{% block content %}
    
    
    <section class="content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <a href="{{ path('acme_users_create') }}" class="btn btn-primary">Add</a>
                <a href="{{ path('logout') }}" class="btn btn-primary">Logout</a>
                <hr />
                {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="callout callout-info lead alert-success">
                    {{ flash_message }}
                </div>
                {% endfor %}
                <table class="table table-hover">
                    <tbody>
                    {% for user in pagination %}
                        <tr>
                            <td><p>{{ user.name }}</p></td>
                            <td style="text-align: right;"><a href="{{ path('acme_users_edit', {'id':user.id}) }}">Edit</a></td>
                            <td style="text-align: right;"><a onclick="return confirm('Are you sure you want to delete this item?');" href="{{ path('acme_users_delete', {'id':user.id}) }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                
            </div>
        </div>
    </section>

{% endblock %}